{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tagry</title>
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/face.png'%}" />
  </head>

  <body>
  

    <div class=" container-scroller">
      <!-- partial:../partials/_navbar.html -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
          <div class="bg-white text-center navbar-brand-wrapper">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="static/images/logo_star_mini.jpg" alt=""></a>
          </div>
          <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
          <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
        </form>
          <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
              <li class="nav-item">
                <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="static/images/face.png" alt=""></a>
              </li>
            </ul>
            <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>

      <!-- partial -->
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
          <!-- partial:../partials/_sidebar.html -->
          <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
            <div class="user-info">
              <img src="{% static 'images/face.png' %}" alt="">
              <p class="name">{{user}}</p>
              <p class="designation">Manager</p>
              <span class="online"></span>
            </div>
            <ul class="nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'base' %}">
                  <div class="clearfix">
                    <h4 class="text-primary ">
                      <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                    </h4>
                  </div>
                  <h5 class="menu-title">Dashboard</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                  <div class="clearfix">
                    <h4 class="text-success">
                      <i class="fa fa-tasks highlight-icon" aria-hidden="true"></i>
                    </h4>
                  </div>
                  <h5 class="menu-title">Categories</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'seller_user:seller_list' %}">
                  <div class="clearfix">
                  <h4 class="text-primary ">
                    <i class="fa fa-users highlight-icon-big" aria-hidden="true"></i>
                  </h4>
                </div>
                  <h5 class="menu-title">Seller</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'buyer_list' %}">
                  <div class="clearfix">
                  <h4 class="text-primary">
                    <i class="fa fa-users highlight-icon-big" aria-hidden="true"></i>
                  </h4>
                </div>
                  <h5 class="card-title">Buyer</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users_list' %}">
                  <div class="clearfix">
                  <h4 class="text-primary">
                    <i class="fa fa-users highlight-icon-big" aria-hidden="true"></i>
                  </h4>
                </div>
                  <h5 class="card-title">Users</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'area' %}">
                   <div class="clearfix">
                  <h4 class="text-danger">
                    <i class="fa fa-map-marker highlight-icon-big" aria-hidden="true"></i>
                  </h4>
                </div>
                  <h5 class="card-title">Areas</h5>
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'city' %}">
                  <div class="clearfix">
                  <h4 class="text-danger">
                    <i class="fa fa-home highlight-icon-big" aria-hidden="true"></i>
                  </h4>
                </div>
                  <h5 class="card-title">Cities</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'country' %}">
                  <div class="clearfix">
                    <h4 class="text-danger">
                      <i class="fa fa-globe highlight-icon-big" aria-hidden="true"></i>
                    </h4>
                  </div>
                  <h5 class="card-title">Countries</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'languages' %}">
                   <div class="clearfix">
                    <h4 class="text-primary">
                      <i class="fa  fa-language  highlight-icon-big" aria-hidden="true"></i>
                    </h4>
                  </div> 
                  <h5 class="card-title">Languages</h5>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'key' %}">
                  <div class="clearfix">
                  <h4 class="text">
                    <i class="fa  fa-keyboard-o  highlight-icon-big" aria-hidden="true"></i>
                  </h4>
                </div> 
                  <h5 class="card-title">key Words</h5>
                </a>
              </li>
              <li class="nav-item">
                  <a class="btn btn-outline-danger btn-lg mr-2"href="{% url 'logout'  %}" >
                  <i class="fa fa-sign-out icon-big" ></i> Log out</a> 
              </li>
          </nav>
          
            
          <!-- partial -->
          <div class="content-wrapper">
            <h1 class="page-heading mb-4">Dashboard</h1>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <h4 class="text-danger">
                          <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                        </h4>
                      </div>
                      <div class="float-right">
                        <h4 class="card-subtitle mb-4">Revenue</h4>
                        <h3 class="card-title font-weight-normal text-danger">{{revenue}}</h3>
                      </div>
                    </div>
                      <p class="text-muted">
                        <i class="fa fa-calendar mr-1" aria-hidden="true"></i> Monthly Sales
                      </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <h4 class="text-warning">
                          <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                        </h4>
                      </div>
                      <div class="float-right">
                        <h4 class="card-subtitle mb-4">Orders</h4>
                        <h3 class="card-title font-weight-normal text-warning">{{orders_lens}}</h3>
                      </div>
                    </div>
                      <p class="text-muted">
                       <i class="fa fa-bookmark-o mr-1" aria-hidden="true"></i> Product-wise sales
                     </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <h4 class="text-primary">
                          <i class="fa fa-users highlight-icon" aria-hidden="true"></i>
                        </h4>
                      </div>
                      <div class="float-right">
                        <h4 class="card-subtitle mb-4">Buyer</h4>
                        <h3 class="card-title font-weight-normal text-primary">{{buyer}}</h3>
                      </div>
                    </div>
                      <p class="text-muted">
                       <i class="fa fa-check-circle-o mr-1" aria-hidden="true"></i> Availble Buyer
                     </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card card-statistics">
                  <div class="card-body">
                    <div class="clearfix">
                      <div class="float-left">
                        <h4 class="text-primary">
                          <i class="fa fa-users highlight-icon" aria-hidden="true"></i>
                        </h4>
                      </div>
                      <div class="float-right">
                        <h4 class="card-subtitle mb-4">Sellers</h4>
                        <h3 class="card-title font-weight-normal text-primary">{{seller}}</h3>
                      </div>
                    </div>
                     <p class="text-muted">
                       <i class="fa fa-check-circle-o mr-1" aria-hidden="true"></i> Availble Users
                     </p>
                  </div>
               </div>
              </div>
            <div class="card-deck">
              <div class="card col-xl-12 col-lg-10 col-md-12 col-sm-12 mb-4" style="min-height:395px;">
                <div class="card-body">
                  <h5 class="card-title mb-4">Today Orders For Delivery</h5>
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Seller Name</th>
                        <th>Amount</th>
                        <th>Quantity</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in orders %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.shopping_cart_id.products_id.seller_id}}</td>
                        <td>{{i.shopping_cart_id.total_price}}</td>
                        <td>1</td>
                        <td>{{i.status}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- partial:../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="float-right">
                  <a href="#">Savy Code</a> &copy; 2021
              </span>
            </div>
          </footer>

          <!-- partial -->
        </div>
      </div>

    </div>

 


    <script src="{%static 'node_modules/jquery/dist/jquery.min.js'%}"></script>
    <script src="{%static 'node_modules/popper.js/dist/umd/popper.min.js'%}"></script>
    <script src="{%static 'node_modules/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'node_modules/chart.js/dist/Chart.min.js'%}"></script>
    <script src="{%static 'node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js'%}"></script>
    <script src="{%static 'js/off-canvas.js'%}"></script>
    <script src="{%static 'js/hoverable-collapse.js'%}"></script>
    <script src="{%static 'js/misc.js'%}"></script>
    <script src="{%static 'js/chart.js'%}"></script>
    <script src="{%static 'js/maps.js'%}"></script>
    
  </body>

</html>

